<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-light text-decoration-none">
                <span class="fs-4">GitHub Browser</span>
            </a>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" (submit)="$event.preventDefault(); commonService.searchKeywordEmitter.emit(searchInput.value)">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                    aria-label="Search" #searchInput>
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-warning" (click)="commonService.searchKeywordEmitter.emit(searchInput.value)">Search</button>
            </div>
        </div>
    </div>
</header>