<div class="container p-3 rounded shadow" id="{{ profile.id }}">
    <div class="row mt-3">
        <div class="col-2">
            <img [src]="profile.avatar_url" class="img-thumbnail rounded" title="{{ profile.login }}">
        </div>
        <div class="col-3">
            <div class="d-flex flex-column">
                <a (click)="notifyParent()" [class]="'text-' + 'reset'">
                    <h1>{{ profile.name }}</h1>
                </a>
                <p>Type: {{ profile.type }}</p>
                <p appHighlight>Location: {{ profile.location || '-' }}</p>
                <p appHighlight hoverColor="orange">Email: {{ profile.email || '-' }}</p>
            </div>
        </div>
    </div>
</div>
